<h1>Your Uploaded Image </h1>
<p>Filename: <%= filename %></p>
<img src="/public-images/<%= filename %>" alt="Uploaded Assests" style="max-width: 500px; border-radius: 8px;" >
<br><br>
<a href="/">Upload another file</a>