<h1> Your uploaded Image </h1>
<p>Filename: <%= filename %></p>
<img src="/public-images/<%= filename %>" alt="Uploaded Asset" style="max-width: 500px; border-radius: 8px;">
<br><br>
<a href="/upload another file"></a>
