<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Blog Post</title>
</head>
<body>
    <h1>Create a New Blog Post here</h1>
    <% if(errorMessage) {%>
    <%= errorMessage %>
    <% } %>

    <form action="/admin/create" method="post" enctype="multipart/form-data">

        <label>Post Title : </label>
        <input type="text" name="title" required><br> <br>

        <label>Banner Image Here</label>
        <input type="file" name="blogBanner" required><br><br>

        <label>Post Content : </label>
        <textarea name="content" rows="8" cols="50"></textarea> <br><br>

        <button type="submit">Submit Post</button>


    </form>

    <a href="/">Back to HomePage</a>

    
</body>
</html>